* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #333;
	color: #eee;
	font-family: 'Lato', sans-serif;
}

header {
    border-bottom: 3px solid #eee;
    margin: 25px 0 25px 0;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

section {
    margin: 25px 0 25px 0;
}

td {
	width: 100px;
}

td:first-child {
	width: 10px;
}

input {
	width: 100%;
}

#naglowek_xml {
	border-bottom: 3px solid #eee;
}